html{
  background-color: rgb(80, 132, 228);
  background: repeating-linear-gradient(45deg, #2f91b8 0%, #2f91b8 10%, #436599 0%, #436599 50%) 0 / 15px 15px;
}

.App {
  text-align: center;
  
}

.App-logo {
  
  animation: App-logo-spin infinite 4s linear;
  
  background: repeating-linear-gradient(45deg, lightskyblue);
  height: 80px;

}

.App-header {
  
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: rgb(255, 255, 255);
 
}

.App-intro {
  font-size: large;
}
.printForm {
  margin: 0 auto;
  width: 80%;
  background-color: rgb(88, 88, 88);
  padding: 0px 0px 20px 0px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); left: 0%; }
  to { transform: rotate(-360deg); left: 100%; }
}
.LedButtons {
  margin: 0 auto;
  
}
.LED_Button {
  background: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  border-radius: 50%;

}

.LedsForm{
  background: rgb(155, 14, 14);
  text-align: center;
  width: 80%;
  padding-left: 8%;

  border-color: black;
  border-width: 4px;
  margin: 0 auto;
}
#yellow_LED{
  background: yellow;
}
#blue_LED{
  background: blue;
}
#pink_LED{
  background: rgb(255, 80, 156);
}
#white_LED{
  background: white;
}
#green_LED{
  background: green;
}
#red_LED{
  background: red;
}
#printForm{
  text-align: center;
}
input[type=file] {
  margin: 0 auto;
 
}


